<app-nav-bar></app-nav-bar>
<div class="container-md">
 


    <div class="row">
      <div class="col-md">
        <div class="card mt-4  h-100">   
          <div class="card-body" >
            <div class="row">
            <div class="col-md-3">
              <div class="card mt-4">
                <div class="card-header text-center">Team A</div>
                <div class="card-body">
                  <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let data of teamAMembers; let i = index">
                      <!-- <li class="list-group-item d-flex justify-content-between align-items-center"> -->
                      {{data.username}}
                      <span class="">{{data.marks}}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-primary" >
                      Total
                       <span class="  ">17</span>
                     </li>
                  </ul>
                  
                </div>
              </div>
              <div class="card mt-4 text-center">
                <div class="card-header">Team B</div>
                <div class="card-body h-100">
                  <ul class="list-group">
                    <!-- <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let data of teamB; let i = index"> -->
                    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let data of teamAMembers; let i = index">
                      <!-- {{data}} -->
                      {{data.username}}
                      <span class="">{{data.marks}}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-primary" >
                     Total
                      <span class="  ">17</span>
                    </li>
                  </ul>
                  
                </div>
              </div>
            </div>
            <div class="col-md-9">
              <div class="card mt-4">
                <div class="card-header d-flex justify-content-between">{{quection}}? <span>{{q}}/10</span></div>
                <!-- <div class="card-header d-flex justify-content-between">xvdxcvxcvdxcvxc? <span>/10</span></div> -->
                <div class="card-body">
                  <div id ='left-hand' class="left-hand">
                    <div *ngFor="let answer of answers; let i = index" [id]="i" (click)="clickOnAnswer(i)" class='square text-center'>
                      <span class="text-center">{{answers[i]}}</span>
                    </div>
                    <!-- <div class='square text-center' ><span>1</span> </div>
                    <div class='square text-center' ><span>2</span> </div>
                    <div class='square text-center' ><span>3</span> </div>
                    <div class='square text-center' ><span>4</span> </div> -->
                  </div>

                  
                </div>
              </div>
              <div class="card mt-4">
                <div class="card-body ">
                  <div class="jumbotron">
                    <h1 class="display-4">{{team}}</h1>                   
                    <hr class="my-4">
                    <p class="lead">{{CAnswer}} .{{who}}</p>
                    <div class="d-flex justify-content-end">
                      <button type="button" class="btn btn-warning  btn-lg">Skip</button>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <br>
              <p class="lead d-flex justify-content-end">
                <a class="btn btn-danger " href="#" role="button">Leave Game</a>
              </p>
              
            </div>
    
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>



