<app-nav-bar></app-nav-bar>
<app-hero></app-hero>
<div class="container pt-5 pb-5">
    <div class="table-responsive">
        <table class="table table-striped table-bordered shadow">
            <tbody>
                <tr class="text-center">
                    <td class="col-md-2">4/5</td>
                    <td>Team A</td>
                    <td class="col-md-2">
                        <button class="btn btn-primary me-1">Join</button>
                    </td>
                </tr>
                <tr class="text-center">
                    <td lass="col-md-2">4/5</td>
                    <td>Team B</td>
                    <td class="col-md-2">
                        <button class="btn btn-primary me-1">Join</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>