<div class="container-fluid d-flex justify-content-center align-items-center" style="--background-image: url({{'assets/images/home-bg.jpg'}});">
    <div class="container header p-4 text-center">
        <h5 class="sub-title mb-0">Buzz Quiz</h5>
        <h1 class="title">Impossible is nothing!</h1>
        <h3 class="content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</h3>
        <button mat-raised-button>Learn More&nbsp;&nbsp;<i class="bi bi-arrow-right"></i></button>
    </div>
</div>