<div class="container-fluid p-0 login-header">
    <div class="row m-0 p-0 h-100 partial">
        <div class="col-md-6 left">
            <div class="partial-cont">
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 right">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div>
                    <div class="d-flex justify-content-start  align-items-center">
                        <div class="p-4 frm-sec">
                            <div class="img-logo text-center">
                                <img src="../../../assets/images/logo.png" alt="SriLankan Airlines" class="img-fluid" width="400">
                            </div>
                            <div class="text-content">
                                <div class="waviy">
                                    <span style="--i:1">R</span>
                                    <span style="--i:2">e</span>
                                    <span style="--i:3">g</span>
                                    <span style="--i:4">i</span>
                                    <span style="--i:5">s</span>
                                    <span style="--i:6">t</span>
                                    <span style="--i:7">e</span>
                                    <span style="--i:8">r</span>
                                    <span style="--i:9">&nbsp;</span>
                                    <span style="--i:10">&nbsp;</span>
                                    <span style="--i:11">i</span>
                                    <span style="--i:12">n</span>
                                    <span style="--i:13">t</span>
                                    <span style="--i:14">o</span>
                                </div>
                                <!-- <p class="mb-0">Login to</p> -->
                                <h2>Online Quiz Game</h2>
                            </div>
                            <!-- <form  autocomplete="off" [formGroup]="userForm" (ngSubmit)="submitForm()"> -->
                            <form  autocomplete="off" >
                                <div class="ext-login">
                                    <div class="row pr-2 pl-2 m-0">
                                        <div class="col">
                                            <label for="inp" class="inp">
                                                <input type="email" id="username" placeholder="&nbsp;"  formControlName="username" required/>
                                                <span class="label"><i class="fas fa-envelope"></i>&nbsp;&nbsp;Email</span>
                                                <span class="focus-bg"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row pr-2 pl-2 m-0">
                                        <div class="col">
                                            <label for="inp" class="inp">
                                                <input type="text" id="username" placeholder="&nbsp;"  formControlName="username" required/>
                                                <span class="label"><i class="fas fa-id-card-alt"></i>&nbsp;&nbsp;Username</span>
                                                <span class="focus-bg"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row pr-2 pl-2 m-0">
                                        <div class="col">
                                            <label for="inp" class="inp">
                                                <input type="password" id="password" formControlName="password" placeholder="&nbsp;" required/>
                                                <span class="label"><i class="fas fa-key"></i>&nbsp;&nbsp;Password</span>
                                                <span class="focus-bg"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row pr-2 pl-2 m-0">
                                        <div class="col">
                                            <label for="inp" class="inp">
                                                <input type="password" id="password" formControlName="password" placeholder="&nbsp;" required/>
                                                <span class="label"><i class="fas fa-key"></i>&nbsp;&nbsp;Confirm Password</span>
                                                <span class="focus-bg"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row pr-2 pl-2 m-0 mb-2">
                                    <div class="col">
                                        <button type="submit" class="btn btn-dark w-100">
                                            Register
                                        </button>
                                        <!-- <button class="btn btn-primaryw-100" routerLink="/quiz-game/sign-up">Login Now</button> -->
                                    </div>
                                </div>
                                <div class="row pr-2 pl-2 m-0 mb-2">
                                    <div class="col d-flex justify-content-center">
                                        <p class="text-center mb-0">Or</p>
                                    </div>
                                </div>
                                <div class="row pr-2 pl-2 m-0">
                                    <div class="col d-flex justify-content-between">
                                        <p>Already have an account? <a routerLink="/quiz-game/sign-in" style="color: #212121;">Sign In</a>.</p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-end p-4">
                        <small>Ⓒ 2023 <a href="" target="_blank" style="color: #212121;">Group Name</a>. All rights reserved.</small>
                        <small class="text-muted">Version 1.0.0.0</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>